@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2 class="text-center">Log in information</h2>
<table border="1" style="border-collapse: collapse; margin: auto;">
    <thead>
        <tr>
            <th style="border: 1px solid black;">Type of user</th>
            <th style="border: 1px solid black;">Username</th>
            <th style="border: 1px solid black;">Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid black;">Capataz (employer)</td>
            <td style="border: 1px solid black;">capataz1@example.com</td>
            <td style="border: 1px solid black;">StrongPass123</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Peón (employee)</td>
            <td style="border: 1px solid black;">peon1@example.com</td>
            <td style="border: 1px solid black;">securePwd1</td>
        </tr>
    </tbody>
</table>